img{
    height: 400px;
    display: block;
    margin: 10px;
}

body{
    font-family: 'Patrick Hand', cursive;
    background-color:beige;
    text-align: center;
    color: #ffffff;
}

#title{
    font-family: 'Sour Gummy', cursive;
    color: #ffc1fc;
    text-align: center;
}