img{
    height: 400px;
    display: block;
    margin: 10px;
}

body{
    font-family: 'Patrick Hand', cursive;
    background-color:beige;
    text-align: center;
    color: #ffffff;
}

#title{
    font-family: 'Sour Gummy', cursive;
    color: #ffc1fc;
    text-align: center;
}

.flavors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.subtitle {
  grid-column: 1 / -1;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}

.flavor {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flavor img {
  width: 100%;
  height: auto;
}